
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="register">
    <ul class="mytop-navi">
    <li class=" nav-list"><a href="{% url 'courses_list' %}">Courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_course' %}">Add new course</a></li>
    <!-- <button class="dropdown-btn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div> -->
    
    <li class=" nav-list"><a href="{% url 'grade1_course_list' %}">Grade1 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade1_course' %}">Add grade1 course</a></li>

    <li class=" nav-list"><a href="{% url 'grade2_course_list' %}">Grade2 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade2_course' %}">Add grade2 courses</a></li>
    
    <li class=" nav-list"><a href="{% url 'grade3_course_list' %}">Grade3 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade3_course' %}">Add grade3 courses</a></li>
 
    <li class=" nav-list"><a href="{% url 'grade4_course_list' %}">Grade4 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade4_course' %}">Add grade4 courses</a></li>

    <li class=" nav-list"><a href="{% url 'grade5_course_list' %}">Grade5 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade5_course' %}">Add grade5 courses</a></li>

    <li class=" nav-list"><a href="{% url 'grade6_course_list' %}">Grade6 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade6_course' %}">Add grade6 courses</a></li>

    <li class=" nav-list"><a href="{% url 'grade7_course_list' %}">Grade7 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade7_course' %}">Add grade7 courses</a></li>

    <li class=" nav-list"><a href="{% url 'grade8_course_list' %}">Grade8 courses</a></li>
    <li class=" nav-list"><a href="{% url 'add_grade8_course' %}">Add grade8 courses</a></li>
</ul>


</div>


<style>
 
.mytop-navi{
      
  letter-spacing: none;
  margin: -1%;
  padding-left: 20px;
  width: 200px;
  height: 130%;
  background-color:rgb(70,32,125);
  position: fixed;
  list-style: none;

     }
.nav-list{
  padding: 1px;
  margin-top: 10px;
  text-decoration: none;
  
}
.nav-list a{
  display: block;
  width: 150px;
  color: white;
  text-decoration: none;
  font-size: medium;
 
}
.nav-list a:hover{
  background-color: white;
  color:rgb(70,32,125);
  text-decoration: none;
 
} 



</style>

</body>
</html>
