  <div class="container">
    <div class="row " >
        {% for course in courses %}
        <div class="col-md-3">
            <div class="card body-session">
                <img src="{{ course.course.url}}" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <a id="profile-link" href="{%url 'course-profile' course.id%}">View Profile</a>

                        {{ course.course_title }}
                    </div>
                   
                    <div class="card-text">
                    <!-- {{ course.date }} -->
                    </div>
                    <div class="card-text">
                </div>
              </div>
             </div>   
        </div>
        {% endfor %}
    </div>
</div>
</div>
