  <div class="container">
    <div class="row " >
        {% for course in courses %}
        <div class="col-md-3">
            <div class="card body-session">
                <img src="{{ course.course.url}}" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        <a id="profile-link" href="{%url 'course-profile' course.id%}">View Profile</a>

                        {{ course.course_title }}
                    </div>
                   
                    <div class="card-text">
                    <!-- {{ course.date }} -->
                    </div>
                    <div class="card-text">
                </div>
              </div>
             </div>   
        </div>
        {% endfor %}
    </div>
</div>
</div>

<li class="nav-list"><a href=""> Grade2</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade2_course_list' %}">Grade2 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade2_course' %}">Add grade2 courses</a></li> -->
<li class="nav-list"><a href=""> Grade3</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade3_course_list' %}">Grade3 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade3_course' %}">Add grade3 courses</a></li>
-->
<li class="nav-list"><a href=""> Grade4</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade4_course_list' %}">Grade4 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade4_course' %}">Add grade4 courses</a></li> -->
<li class="nav-list"><a href=""> Grade5</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade5_course_list' %}">Grade5 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade5_course' %}">Add grade5 courses</a></li> -->
<li class="nav-list"><a href=""> Grade6</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade6_course_list' %}">Grade6 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade6_course' %}">Add grade6 courses</a></li> -->
<li class="nav-list"><a href=""> Grade7</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade7_course_list' %}">Grade7 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade7_course' %}">Add grade7 courses</a></li> -->
<li class="nav-list"><a href=""> Grade8</a></li>
<!-- <li class=" nav-list"><a href="{% url 'grade8_course_list' %}">Grade8 courses</a></li>
<li class=" nav-list"><a href="{% url 'add_grade8_course' %}">Add grade8 courses</a></li> -->
</ul>
